html,body {
  height: 100%;
}

main-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  scroll-behavior: smooth;
  height: 100%; 
  width: 100%;
  color: white;
  text-align: center;
  display: table;
}

/* .about-bg{
  background: #EEE7E1;
} */

/* #1A1919
   #b1a192
   #EEE7E1

 */