html {
  box-sizing: border-box;
  height: 100%;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

*, 
*::before,
*::after { 

  box-sizing: inherit;
}

:root {
  font-size: 90%
}


body {
 
  background: #EEE7E1 ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; 
  width: 100%;
   
  
} 





/* #1A1919
   #b1a192


 */