/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  right: 25px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #84AAAD;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(125, 216, 137);
  transition: 1000ms;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 15px;
  width: 15px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #305974;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  opacity: 0.5;
  padding: 36px 16px 0;
  font-size: 16px;
  
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #5c65eb;
  padding: 13px;
  
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s;
 
}

.menu-item:hover {
  color: red;
 
}