.myProjects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 2.5rem;
    font-size: 1.2rem;
    margin: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Economica', sans-serif;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;

}
a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}


.pokemonProj {
    align-content: flex-start;
    padding: 15px;
    margin: 25px;
    margin-right: 100px;
    border: 5px solid;
    border-color: bisque;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(70, 87, 94, 0.8);
    box-shadow: 
    inset 20px 0 60px rgb(99, 139, 126),
    -5px 0px 10px 5px rgb(99, 139, 126)

}

.hammyProj {
    align-content: flex-start;
    text-align: right;
    padding: 15px;
    margin: 25px;
    margin-left: 100px;
    border: 5px solid;
    border-color: bisque;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(70, 87, 94, 0.8); 
    box-shadow: 
    inset 20px 0 60px rgb(16, 19, 65),
    -5px 0px 10px 5px rgb(16, 19, 65); 
    

}

.elvisProj {
    align-content: flex-start;
    padding: 15px;
    margin: 25px;
    margin-right: 100px;
    border: 5px solid;
    border-color: bisque;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(70, 87, 94, 0.8);
    /* box-shadow: 
    inset 20px 0 60px rgb(16, 19, 65),
    -5px 0px 10px 5px rgb(16, 19, 65); */
    box-shadow: 
    inset 20px 0 60px rgb(99, 139, 126),
    -5px 0px 10px 5px rgb(99, 139, 126)
}

.lfgProj {
    align-content: flex-start;
    text-align: right;
    padding: 15px;
    margin: 25px;
    margin-left: 100px;
    border: 5px solid;
    border-color: bisque;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(70, 87, 94, 0.8);
    box-shadow: 
    inset 20px 0 60px rgb(16, 19, 65),
    -5px 0px 10px 5px rgb(16, 19, 65);
}

